.white {
  /* background-color: aquamarine; */
  background-color: white;
}

.green-gradient {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.blue-gradient {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.yellow-gradient {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.red-gradient {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
