* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  background-color: #f5f5f5;

  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
}

.header--mobile-icon {
  font-size: 1.5rem;
  padding: 10px;
  color: #1e3465;
  position: absolute;
  /* top: 0;
  left: 0; */
  display: none;
}

.nav-mobile {
  text-align: left;
  position: fixed;
  width: 300px;
  background-color: #1e3465;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  padding-top: 70px;
  transition: all 0.2s;
  transform: translateX(-120%);
}

.nav-mobile.show {
  transform: translateX(0);
}
.nav-mobile--close {
  font-size: 2rem;
  padding: 10px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.header--mobile-overload-shadow.show {
  display: block;
}
.header--mobile-overload-shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.nav-mobile a.active {
  color: #ffeb3b;
}
.nav-mobile a {
  font-weight: bold;
  padding: 15px 20px;
  color: white;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.2s;
}

@media screen and (max-width: 991px) {
  .header--mobile-icon {
    display: block;
  }
  .menu-dropdown-mobile {
    position: relative;
    display: block;
  }
  .menu-dropdown-mobile .menu-dropdown-mobile--child {
    display: none;
    padding-left: 30px;
    padding-top: 0;
  }
  .menu-dropdown-mobile a {
    display: block;
  }
}

.menu-dropdown-mobile:hover .menu-dropdown-mobile--child {
  display: block;
}

.menu-dropdown-mobile--child a {
  display: block;
  font-size: 12px;
  padding: 15px 5px !important;
  border-bottom: 1px solid #a3a3a3;
}

.logo {
  width: 100px;
  height: 100px;
}

.big-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.small-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #006400;
}

.menu {
  background-color: #1e3465;
  color: white;
}

.menu-left a {
  color: white;
  padding: 15px 0;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  display: block;
}

.menu-left a.active {
  color: #ffeb3b;
  border-bottom: 2px solid #ffeb3b;
}

.drop-down-wrap {
  position: relative;
}

.dropdown-menu-desktop {
  position: absolute;
  /* top: 100%;*/
  left: -10%;
  min-width: 230%;
  background-color: #1f3465;
  z-index: 1000;
  display: none;
  /* transition: all 0.2s;
  animation: loading-menu linear 0.2s; */
}

.dropdown-menu-desktop a {
  color: white;
  /* display: block; */
  padding: 13px 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  border-bottom: 1px solid #999;
  margin-right: 0;
}

.drop-down-wrap:hover .dropdown-menu-desktop {
  display: block;
}

.dropdown-menu-desktop a:hover {
  color: #ffeb3b;
  /* border-bottom: 2px solid #ffeb3b; */
}

.footer {
  background-color: #1e3465;
  color: white;
  margin-top: auto;
  padding: 0.5rem 1rem;
}

.footer-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.footer-item-head i {
  margin-right: 1rem;
}
.footer-item-title {
  font-weight: bold;
  color: #dbc107;
}
.footer-item-desc p {
  margin: 0;
}
.footer-item-desc-highlight {
  color: #dbdf55;
}

.dashboard-wrapper {
  /* background-color: aquamarine; */
  background-color: #fff;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  padding: 0 1rem 1rem 0px;
}

.dashboard-button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  box-sizing: border-box;

  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  min-height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  text-align: center;
  margin: 1rem 0 0 1rem;

  padding: 1.5rem;

  text-decoration: none;
  cursor: pointer;
}
.dashboard-item {
  color: #fff;
}
.dashboard-item:hover {
  color: #fff;
  text-decoration: none;
  filter: brightness(110%);
}

.white {
  /* background-color: aquamarine; */
  background-color: white;
}

.green-gradient {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.blue-gradient {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.yellow-gradient {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.red-gradient {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
