* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  background-color: #f5f5f5;

  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  /* this is relative to able to contain the fixed nav-mobile */
}

.logo {
  width: 100px;
  height: 100px;
}

.big-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.small-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #006400;
}
.content {
  /* position: relative; */
}

.content-bg {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  background-image: url("../assets/bg-main.jpeg");
  height: 300px;
  width: auto;
  object-fit: cover;
  background-position: center;
}

.main-content {
  transform: translateY(-300px);
  /* background-color: violet; */
}

.form-main-wrapper {
  background-color: #fff;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
}
.form-main-header {
  background-color: #c5d6ff;
  border-radius: 0.475rem 0.475rem 0 0;
  height: 50px;
  color: #1e3465;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.form-main-content hr {
  border: 2px solid #c5d6ff;
}

/*custom style for add asterisk after label*/
.form-group.required .custom-required-label:after {
  content: "*";
  color: red;
}

.footer {
  background-color: #1e3465;
  color: white;
  margin-top: auto;
  padding: 0.5rem 1rem;
}

.footer-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.footer-item-head i {
  margin-right: 1rem;
}
.footer-item-title {
  font-weight: bold;
  color: #dbc107;
}
.footer-item-desc p {
  margin: 0;
}
.footer-item-desc-highlight {
  color: #dbdf55;
}

.dashboard-wrapper {
  background-color: #fff;
  border-radius: 0.475rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  padding: 0 1rem 1rem 0px;
}

.dashboard-button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  box-sizing: border-box;

  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  min-height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  text-align: center;
  margin: 1rem 0 0 1rem;

  padding: 1.5rem;

  text-decoration: none;
  cursor: pointer;
}
.dashboard-item {
  color: #fff;
}
.dashboard-item:hover {
  color: #fff;
  text-decoration: none;
  filter: brightness(110%);
}
